:root {
    --color-red: #ff4048;
    --color-light-gray: #f5f5f5;
    --color-title: #000;
    --color-white: #fff;
    --color-text: #333;
    --color-gray: #969696;
  }
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .ancho {
    max-width: 1200px;
    margin: auto;
  }
  
  body {
    font-family: Helvetica;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
  }
  
  button {
    cursor: pointer;
  }
  
  /* Header y Navegación */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
  }
  
  .logo img {
    max-width: 120px;
  }
  
  #icono {
    display: none;
    color: var(--color-red);
    font-size: 24px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--color-title);
    border-bottom: 2px rgba(255, 255, 255, 0) solid;
  }
  
  nav a:hover {
    border-bottom: 2px var(--color-red) solid;
  }
  
  /* Slider */
  .rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  .rslides li:first-child {
    position: relative;
    display: block;
    float: left;
  }
  
  .rslides img {
    display: block;
    height: auto;
    float: left;
    width: 100%;
    border: 0;
  }
  
  .main-text {
    position: absolute;
    top: 30%;
    right: 150px;
    z-index: 100;
    text-align: right;
    max-width: 310px;
  }
  
  .main-text h1 {
    color: var(--color-red);
    font-size: 44px;
    line-height: 46px;
  }
  
  .main-text p {
    margin-top: 20px;
  }
  
  .main-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-red);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px var(--color-red) solid;
    text-align: center;
    width: 150px;
    transition: all .10s linear;
  }
  
  .main-btn:hover {
    color: var(--color-red);
    background-color: var(--color-white);
  }
  
  /* Servicios */
  #services {
    margin-bottom: 50px;
    text-align: center;
  }
  
  #services h2 {
    font-size: 34px;
  }
  
  .service-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
  }
  
  .service-container article {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  
  .service-container i {
    color: var(--color-red);
    font-size: 34px;
    border: 1px var(--color-gray) solid;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  
  .service-container p {
    color: var(--color-text);
  }
  
  /* Galería */
  .gallery {
    background-color: var(--color-light-gray);
    display: flex;
    padding: 50px 0px;
  }
  
  .gallery-images {
    display: grid;
    grid-template-areas:
      "foto3 foto4"
      "foto2 foto4";
  }
  
  .gallery-images a {
    display: flex;
    justify-content: center;
  }
  
  .gallery-images img {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .arti-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 0px 200px 0px 50px;
  }
  
  span {
    color: var(--color-text);
    font-weight: normal;
  }
  
  .arti-gallery h2 {
    max-width: 300px;
    font-size: 34px;
    line-height: 44px;
  }
  
  .arti-gallery p {
    max-width: 920px;
  }
  
  /* Footer */
  footer {
    text-align: center;
    padding: 40px 20px;
    background-color: var(--color-light-gray);
  }
  
  .foot-social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .foot-social-icons a {
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .foot-social-icons i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: var(--color-red);
    font-size: 24px;
    border: 1px var(--color-gray) solid;
    border-radius: 100%;
  }
  
  /* Responsivo */
  @media screen and (max-width: 480px) {
  
    body {
      font-size: 12px;
      line-height: 14px;
    }
  
    h2 {
      font-size: 18px;
      line-height: 36px;
    }
  
    header {
      flex-direction: column;
    }
  
    #icono {
      display: block;
    }
  
    nav {
      display: none;
      background-color: var(--color-red);
      width: 100%;
    }
  
    nav ul {
      flex-direction: column;
      padding: 20px;
      gap: 10px;
    }
  
    nav a {
      color: var(--color-white);
      border-bottom: dotted;
    }
  
    .main-text {
      background-color: #ff404a5b;
      text-align: center;
      width: 180px;
      padding: 10px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
    .main-text h1 {
      color: var(--color-white);
      font-size: 26px;
      line-height: 30px;
    }
  
    .main-text p {
      display: none;
    }
  
    .main-btn {
      font-size: 12px;
      width: 120px;
    }
  
    #services h2 {
      color: var(--color-red);
    }
  
    .service-container {
      flex-direction: column;
      align-items: center;
    }
  
    .service-container article {
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.300);
      max-width: 200px;
      padding: 30px 20px;
    }
  
    .gallery {
      flex-direction: column-reverse;
      padding: 30px 0px;
    }
  
    .gallery-images {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px;
    }
  
    .arti-gallery {
      gap: 20px;
      padding: 20px;
    }
  
    footer {
      padding: 20px;
      border: 2px var(--color-red) solid;
      border-radius: 5px;
      margin: 10px;
    }
  }
  